@charset "UTF-8";

.move {
	margin-left: 20px;
}

.tdinput {
	padding: 2px;
	height: 20px;
	width: 40px;
	background-color: transparent;
	border: none;
}

.operator {
	color: #666;
}

.operator:hover {
	color: #428bca;
	cursor: pointer;
}

.searcher {
	color: #666;
}

.searcher:hover {
	font-weight: 700;
	cursor: pointer;
}

.order-info td {
	width: 25%;
	padding-right: 50px;
}

.order-info .pay-button {
	text-align: right;
	padding-left: 88px;
	padding-right: 0px;
}

.alert-box {
	border: 1px solid #faebcc;
	border-radius: 5px;
	background-color: #fcfbe3;
	color: #a66d3b;
	height: 34px;
	line-height: 34px;
	padding:0px 10px;
	display: none;
}