@charset "UTF-8";

.move {
	margin-left: 20px;
}

.tdinput {
	padding: 2px;
	height: 20px;
	width: 40px;
	background-color: transparent;
	border: none;
}

.tdremark {
	height: 20px;
	width: 88%;
	background-color: transparent;
	border: none;
}

.table-buttons {
	color: #666;
	margin: 0 auto;
}

.operator {
	color: #666;
}

.operator:hover {
	color: #428bca;
	cursor: pointer;
}

.searcher {
	color: #666;
}

.searcher:hover {
	font-weight: 700;
	cursor: pointer;
}

.order-info td {
	width: 25%;
	padding-right: 50px;
}

.order-info .pay-button {
	text-align: right;
	padding-left: 88px;
	padding-right: 0px;
}